<div *ngIf="user">

    <div class="d-flex flex-column justify-content-center">
        <div class="text-center text-light mt-3">
            <h1>Join Room</h1>
            <hr>
        </div>

        <div class="d-flex flex-column justify-content-center">
        <div class="text-center mt-5">
            <h2 class="mb-5">What kind of player are you?</h2>
            <div class="d-flex flex-wrap justify-content-center">
              <a routerLink="/rooms/casual" class="btn-lg btn-secondary text-light mb-2 mx-5">Casual</a>
              <a routerLink="/rooms/serious" class="btn-lg btn-primary text-light mb-2 mx-5">Serious</a>
              <a routerLink="/rooms/hybrid" class="btn-lg btn-success text-light mb-2 mx-5">Hybrid</a>
            </div>
        </div>
        </div>
    </div>
    
</div>

<div *ngIf="(user === undefined) && isLoaded">
  <div class="text-light text-center">
    <div class="justify-content-center">
      <div class="alert alert-info mt-3">You are not logged in.</div>
    </div>
  </div>
  <app-login></app-login>
</div>
