<div class="d-flex flex-column justify-content-center">

    <div class="justify-content-center row mt-3">
        <div>
          <h1>Developers</h1>
          <hr>
        </div>
    </div>

    <div class="justify-content-center d-flex m-3">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h2 class="card-title">John Doe
                            <span class="position">
                                <h5 class="card-subtitle mb-2 text-muted italic">Lead Developer</h5>
                            </span>
                        </h2>
                        <p>John.Doe@email.com</p>
                        <div class="icons">
                            <span class = "icon">
                              <a href="https://www.google.com/"><fa-icon [icon]="faLinkedin"></fa-icon></a>
                            </span>
                            <span class = "icon">
                              <a href="https://www.google.com/"><fa-icon [icon]="faGithubSquare"></fa-icon></a>
                            </span>
                            <span class = "icon">
                              <a href="javascript:void(0);" role="button" (click)="openDialog()"><fa-icon [icon]="faEllipsisH"></fa-icon></a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>