<div *ngIf="user; else login" class="container text-center text-light">
  <div class="row justify-content-center mt-3">
    <div class="col">
      <h1>Joining Room...</h1>
      <hr>
    </div>
  </div>

  <div class="jumbotron bg-dark" *ngIf="room">
    <h3>You are being redirected to Discord.</h3>
    <br/>
    <h4>Game: {{ room.game.name }}</h4>
    <h4>Room: {{ room.name }}</h4>
    <br/>
    <a href="{{ appLink }}" class="btn btn-primary m-4 mb-2">Join in App</a>
    <a href="{{ webLink }}" target="_blank" class="btn btn-outline-primary text-primary m-4 mb-2">Join in Browser</a>
  </div>

</div>

<ng-template #login>
    <div class="container text-center text-light">
      <h2>You are not logged in.</h2>
    </div>
</ng-template>