<div *ngIf="user; else login">

  <div class="container text-light">
    <div class="row justify-content-center mt-3">

      <div class="col-4"></div>

      <div class="col-4 text-center mb-3">
        <h2>Available Rooms</h2>
      </div>

      <div class="col-4">
        <div routerLink="/create-room" class="btn btn-secondary ml-5 float-right">Create A Room</div>
      </div>

    <!-- TODO: Implement pagination -->
    <!-- <nav aria-label="...">
          <ul class="pagination justify-content-end">
            <li class="page-item">
              <a class="page-link bg-dark" href="#" tabindex="-1" aria-disabled="true">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link bg-dark text-light" href="#">1</a></li>
            <li class="page-item"><a class="page-link bg-dark text-light" href="#">2</a></li>
            <li class="page-item"><a class="page-link bg-dark text-light" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link bg-dark" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav> -->

    </div>

    <div class="row justify-content-center">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col"># of Players</th>
            <th scope="col">Max Players</th>
            <th scope="col">Game</th>
            <th scope="col">Room Name</th>
            <th scope="col">Playstyle</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let room of rooms$ | async">
              <td>{{ room.currentPlayers }}</td>
              <td>{{ room.maxPlayers }}</td>
              <td>{{ room.game.name }}</td>
              <td>{{ room.name }}</td>
              <td>{{ room.style }}</td>
              <td><div routerLink="/room/id/{{room.id}}" class="btn btn-block btn-primary" (click)="joinRoom(room)">Join</div></td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #login>
  <div class="container text-center text-light">
    <h2>You are not logged in.</h2>
  </div>
</ng-template>