<div class="d-flex flex-column outer-container">
  <nav class="navbar bg-dark d-flex flex-column">
    <div class="container">
      <a id="title" routerLink="/home" class="navbar-brand text-light">{{titleAbbreviated}}</a>
      <div *ngIf="user | async as jsonUser; else login">
        <a (click)="logout()" class="btn btn-outline-light text-light m-2">Logout</a>
      </div>
      <ng-template #login>
        <div>
          <a routerLink="/signup" class="btn btn-outline-primary text-primary m-2">Sign Up</a>
          <a routerLink="/login" class="btn btn-primary m-2"><strong>Login</strong></a>
        </div>
      </ng-template>
    </div>
  </nav>

  <router-outlet></router-outlet>
  
  <footer class="container">
    <div class="fixed-bottom text-light text-center bg-dark">Designed by Kayla Filio, Philip Lawrence, and Nancy Yuan.</div>
  </footer>
  
</div>