<div class="d-flex flex-column g2g-page-container">
  <nav class="navbar bg-dark d-flex flex-column">
    <button (click)="showNav()" class="bg-transparent text-primary mr-auto btn" id="nav-toggle">Show Nav</button>
    <ul class="nav nav-tabs w-100 hidden" id="nav-items">
      <li>
        <button id="title" routerLink="/home" class="navbar-brand text-light bg-transparent btn">{{titleAbbreviated}}</button>
      </li>
      <li class="nav-item">
        <button class="nav-link bg-transparent text-primary" routerLink="/supported-games">
          <div><fa-icon [icon]="faGamepad" class="mr-2"></fa-icon>Games</div>
        </button>
      </li>
      <li *ngIf="user; else login">
        <button routerLink="/dashboard" class="nav-link bg-transparent text-primary">
          <div><fa-icon [icon]="faHome" class="mr-2"></fa-icon>Dashboard</div>
        </button>
      </li>
      <li *ngIf="user" class="g2g-margin-left-computer">
        <button routerLink="/profile" class="nav-link bg-transparent text-primary">
          <div><fa-icon [icon]="faUser" class="mr-2"></fa-icon>{{ user.playerUsername }}</div>
        </button>
      </li>
      <li *ngIf="user">
        <button (click)="logout()" class="btn btn-outline-light text-light mx-2"><div>Logout</div></button>
      </li>
      <ng-template #login>
        <li class="g2g-margin-left-computer">
          <button routerLink="/signup" class="btn bg-transparent text-primary"><div>Sign Up</div></button>
        </li>
        <li>
          <button routerLink="/login" class="btn btn-primary m-2"><div>Login</div></button>
        </li>
      </ng-template>
    </ul>
  </nav>

  <div  class="g2g-flex-grow">
    <router-outlet></router-outlet>
  </div>
  
  <footer>
    <div class="text-light text-center bg-dark">Designed by Kayla Filio, Philip Lawrence, and Nancy Yuan.</div>
  </footer>
  
</div>