<div class="container text-center text-light">

    <div class="row justify-content-center m-3">
        <div class="col">
            <h1>Login</h1>
            <hr>
        </div>
    </div>

    <div *ngIf="expanded == true">
        <div class="row justify-content-center">
            <div class="alert alert-danger col-5">Invalid username or password. Please try again.</div>
        </div>
    </div>

    <div class="row justify-content-center">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)" class="text-left">

            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" formControlName="username" placeholder="Username" size="45">
                <span class="text-danger" *ngIf="(username.dirty || username.touched) && username.invalid && username.errors.required">
                    Username is required.
                </span>
            </div>

            <div class="form-group mt-3">
                <label for="password">Password</label>
                <input type="password" class="form-control" formControlName="password" placeholder="Password" size="45">
                <span class="text-danger" *ngIf="(password.dirty || password.touched) && password.invalid && password.errors.required">
                    Password is required.
                </span>
            </div>

            <div class="row justify-content-center p-4">
                <button type="submit" class="btn btn-primary btn-block" [disabled]="!loginForm.valid">Login</button>
            </div>

        </form>
    </div>
</div>

