

<div *ngIf="user; else login">
    <div class="container justify-content-center">
      <div class="row justify-content-center mt-3">
        <div class="col text-center text-light">
          <h1>Surveys</h1>
          <hr>
        </div>
      </div>

      <div class="row justify-content-center">
        <div *ngFor="let survey of surveys" class="card col-3 m-4" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Game: {{ survey.game.name }}</h5>
            <h5 class="card-title">Player: </h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ survey.created | date:'short' }}</h6>
            <!-- <div *ngFor="let skill of skills" class="card-text">
              <span>{{ skill.name }}</span>
              <span></span>
            </div> -->
          </div>
        </div>
      </div>
      <br/>
    </div>
</div>

<ng-template #login>
  <div class="container text-light text-center">
    <div class="row justify-content-center">
      <div class="alert alert-info mt-3 col-5">You are not logged in.</div>
    </div>
  </div>
  <app-login></app-login>
</ng-template>