.hidden {
  display: none;
}
.pointer {
  cursor: pointer;
}
.voteStatus {
  margin-left: auto;
}
.skill-name {
  width: 60%;
}
.subskill-name {
  width: 50%;
  margin-left: 10%;
}
.alert {
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}