<div class="d-flex flex-column text-center text-light">
    <div class="justify-content-center mt-3">
      <div>
        <h1>About G2G</h1>
        <hr>
      </div>
    </div>
    <div class="gtg-container justify-content-center mt-4">
      <div class="text-left mt-5">
        <p>Game to Gain (G2G) is a video game matchmaking service that aims to foster the growth
            of players' soft skills in a low pressure environment. Players are 
            able to create or join game rooms, where they will be automatically connected to
            a Discord voice channel to communicate with their team. Players are urged to 
            help each other improve by providing feedback on their team members' soft skills and
            technical skills. Join the G2G community today!
        </p>
      </div>
      <div *ngIf="user$ | async; else signup"></div>
      <ng-template #signup>
        <div class="text-center">
          <a routerLink="/signup" class="btn btn-outline-light text-light mb-5 g2g-btn-computer">Sign Up Now</a>
          <a routerLink="/signup" class="btn btn-lg btn-outline-light text-light mb-5 g2g-btn-mobile">Sign Up Now</a>
        </div>
      </ng-template>
    </div>
</div>