<div class="container text-center text-light">
    <div class="row justify-content-center mt-3">
      <div class="col">
        <h1>About G2G</h1>
        <hr>
      </div>
    </div>
    <div class="row justify-content-center mt-4">
      <div class="col-8 text-left mt-5">
        <p>Game to Gain (G2G) is a video game matchmaking service that aims to foster the growth
            of players' soft skills in a low pressure environment. Players are 
            able to create or join game rooms, where they will be automatically connected to
            a Discord voice channel to communicate with their team. Players are urged to 
            help each other improve by providing feedback on their team members' soft skills and
            technical skills. Join the G2G community today!
        </p>
      </div>
      <div *ngIf="user | async as userx; else signup"></div>
      <ng-template #signup>
        <div class="col-12 text-center">
          <a routerLink="/signup" class="btn btn-outline-light text-light m-2">Sign Up Now</a>
        </div>
      </ng-template>
    </div>
</div>