.table {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 650px) {
  .table {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
}

caption {
    color: transparent;
}
.alert {
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}