#searchTable {
  margin-left: auto;
  margin-right: 60px;
  width: 30%;
}

#form {
  margin-right: auto;
}

@media screen and (max-width: 770px){
  #searchTable {
    display: none;
    visibility: hidden;
  }
  #form {
    margin: unset;
  }
}

.table-wrap {
    height: 625px;
    overflow-y: auto;
  }

  .col-lg-6{
    
    background-clip: padding-box;
    border: 20px solid transparent;

  }

  .col-centered{
    float: none;
    margin: 0 auto;
}

.input-group fa-icon {
  position: relative;
}

caption {
  color: transparent;
}