div .game-options-select{
  max-width: calc(100% - 40px);
  text-align: unset;
}

#room-button{
  margin-bottom: 15px;
}

@media screen and (max-width: 770px){
  /* #searchTable {
    display: none;
    visibility: hidden;
  } */
  #form {
    margin: unset;
  }
}

.alert {
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.table-wrap {
    height: 625px;
    overflow-y: auto;
  }

  .col-lg-6{
    
    background-clip: padding-box;
    border: 20px solid transparent;

  }

  .col-centered{
    float: none;
    margin: 0 auto;
}

.input-group fa-icon {
  position: relative;
}

.input-group {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.table{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

caption {
  color: transparent;
}